/*************  NAVIGATION BAR  *************/
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: grey;
}
.navbar-menu ul li{
  display: inline;
}
.navbar-menu ul{
  list-style-type: none;
  margin: 10px 40px;
  padding: 10px 40px;
}

.search-box{

}

/*************  END OF NAVIGATION BAR  *************/


/*************  TOP ARTICLES  *************/
.top-articles{
  margin: 3em 0;
}

/*************  END OF TOP ARTICLES  *************/

/*************  ARTICLES  *************/
.article-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: inline-block;
  margin: 2em;
  width: 23%;
  text-align: center;
}

.article-headline {
  font-size: 0.9em;
}
.article-info p {
  font-size: 0.7em;
}

.article-image img {
  width: 100%;
  height: 11em;
} 

.article-info a {
  font-size: 0.8em;
}

/*************  END OF ARTICLES  *************/