
/******* GOOGLE FONTS *******/
@import url("https://fonts.googleapis.com/css?family=Patua+One");



html {
  background-color: #70808b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e8e6ec' fill-opacity='0.34'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
  font-family: "Playfair Display", serif;
  width: 75%;
  margin: 6em auto;
  background-color: #dbd8c7;
  padding: 2.5rem 1rem;
  color: #756b61;
  /*column-count: 3;*/
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 2px;
}

/*************  LOGO  *************/


.logo {
  font-size: 3.3rem;
  margin: 0 0 -1rem 0;
  text-transform: uppercase;
  column-span: all;
  color: rgba(0, 0, 0, 0.5);
}

.logo:before {
  font-family: cursive;
  content: "The New News";
  text-transform: none;
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 4rem;
  border-top: 1px double #b6a388;
  border-bottom: 1px double #b6a388;
  border-width: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;

}
/*************  END OF LOGO  *************/



/*************  SEARCH BAR  *************/


.search-wrapper {
    margin: 1em 0.5em 0 0.5em;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    height: 50px;
    width:70px;
    background: rgba(255,255,255,0);
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width: 220px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    /*transform: translate(0, 60px);*/
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
}
.search-wrapper .input-holder .search-icon {
    width:50px;
    height:50px;
    background: #dbd8c7;
    border: 1.4px solid #b6a388;
    border-radius: 10%;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 40px;
    height:40px;
    margin: 5px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(295deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #FE5F55;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #FE5F55;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:20px;
    height:20px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FE5F55;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}

@media (max-width: 500px) {
  .search-wrapper {
    transform: none;
  }
}

/*************  END OF SEARCH BAR  *************/



/*************  NAVIGATION BAR  *************/
header{
  max-width: 100%;
  padding: 20px;
}


ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #fff;
  text-align: center;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  padding-bottom: 0.7rem;
  margin-bottom: 1rem;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item{
  display: inline-block;
  padding: 15px;
  font-size: 1em;

  /*border around the nav-item*/
  list-style-position:inside;
  border: 1.4px solid #b6a388;
  border-radius: 10%;
  margin: 1em 0.5em 0 0.5em;

}

.nav-item a{
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #756b61;
  font-weight: bold;
}

.nav-item:hover{
  cursor: pointer;
}




/*************  END OF NAVIGATION BAR  *************/

/*************  POP UP PAGE  *************/


#overlay {
  display: none;
}
.popup {
  background: #999;
  max-width: 900px;
  margin: auto;
  z-index: 200;
  height: 100%;
  overflow: scroll;
}

.popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
  color: red;
}

/************* END OF POP UP PAGE  ************






/*************  TIMELINE  *************/
.timeline-box {
    display: flex;
    position: relative;
}

.searched-articles {
  overflow: hidden;
  margin: 2em auto;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 90%;
/*  max-width: 1170px;
*/  margin: 0 auto;
  padding: 2em 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  top: 0;
  left: 6%;
  height: 100%;
  width: 6px;
  background: white;
}


/* The circles on the timeline */
.circle {
    width: 26px;
    height: 26px;
    background-color: white;
    border: 4px solid #FF9F55;
    border-radius: 50%;
    transform: translateX(-50%);
    margin-left: 60px;
    z-index: 2;
    margin-top: 80px;
}


/* The actual content */
.popup-content {
  width: 70%;
  padding: 20px 30px;
  background-color: white;
  border-radius: 6px;
  opacity: 0.8;
  margin: 2em 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

/*The triangle next to the box*/
.popup-content::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid white;
    position: absolute;
    left: -20px;
    top: 35px;
    margin-right: 10px;
}


.popup-headline {
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  text-align: center;
}

.popup-info {
  padding: 0 2em;
}

.popup-p {
  text-align: center;
}
.date {
  font-size: 32px;
  font-style: italic;
}

  /*********** Mobile ***********/
  @media only screen and (min-width: 320px){
    .circle {
        width: 30px;
        height: 30px;
        margin-left: 40px;
        z-index: 2;
    }

    .popup-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
    }

    .popup-headline {
        margin: 14px 0 0 0;
    }

    .popup-image{
        margin-top: 14px;
    }
  }

  @media (max-width: 500px) {
    .popup-info {
      padding: 0 2em 0 0;
    }
    .popup-headline {
      font-size: 1.2em;
    }
    .date {
      font-size: 16px;
    }
  }


/*************  END OF TIMELINE  *************/



/****************  IMAGES  ****************/
.image {
  height: 320px;
  max-width: 450px;
}

.bottom-image {
  height: 180px;
  max-width: 280px;
}

.popup-image{
  height: 240px;
  max-width: 370px;
}

.image-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  .image {
    height: 215px;
  }
  .bottom-image {
    height: 120px;
  }
  .popup-image{
    width: 150px;
    height: auto;
  }
}

/**************  END IMAGES  **************/

/*************  TOP ARTICLES  *************/
.top-articles {
  margin: 1.5em 3em;
  border-width: 2px;
}

.clearfix {
    margin: 2em 0;
    padding: 2em 0;
    border-bottom: 1px solid #b6a388;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#top-articles h3 {
  font-family: 'Patua One', cursive;
  font-size: 25px;
  color: black;
  text-align: center;
}

#top-articles p {
  font-size: 18px;
  text-align: center;
}

.right .image {
  flex: 1;
  order: 2;
  text-align: center;
}

.right .info{
  flex: 1;
  order: 1;
}

.left .info{
  flex: 1;
}

.left .image {
  flex: 1;
  text-align: center;
}

.button {
  margin-left: 45%;
}

@media (max-width: 720px) {
  .clearfix {
    flex-direction: column;
  }
  .right .image {
    order: 1;
  }

  .right .info{
    order: 2;
  }
  #top-articles h3 {
    font-size: 22px;
  }
}

/*************  END OF TOP ARTICLES  *************/



/*************  ARTICLES  *************/
.bottom-headline {
  font-family: 'Patua One', cursive;
  font-size: 18px;
  color: black;
  text-align: center;
  max-height: 9em ;
}
.bottom-content {
  font-size: 0.9em;
  text-align: center;
}

.bottom-info a {
  font-size: 1em;
  text-align: center;
  margin-left: 32%;
  color: black;
  font-family: 'Patua One', cursive;
}

.container-bottom-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 2em;
}

.box {
  max-width: 17em;
  margin: 1.2em 0.6em;
}

/**************  END OF ARTICLES  *************/



/**************   LOADING ICON  *************/

.loading-icon{
  content: "loading";
  visibility: hidden;
}

/**************   END OF LOADING ICON  *************/
